<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PerlGameDev - Administrative Interface</title>
  <link type="text/css" rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
 </head>

 <body>

 [% IF (message = c.flash.message) %]
  <span class="message">[% message %]</span>
 [% END %]
  <form id="delete" action="[% c.uri_for( 'delete' ) %]" method="POST">
   <select name="game" id="gamelist">
    [% FOREACH game IN games %]
     <option class="game" value="[% game.id %]">[% game.name %]</option>
    [% END %]
   </select>
   <input type="submit" value="DELETE" />
  </form>

  <form id="create" action="[% c.uri_for( 'create' ) %]" method="POST">
   <label>Name:</label><input name="name" type="text" value="" />
   <label>Description:</label><textarea name="info" rows="4" cols="80"></textarea>
   <label>License:</label><input name="license" type="text" value="Perl" />
   <label>Website:</label><input name="url" type="text" value="http://" />
   <label>Tags:</label><input name="tags" type="text" value="" />
   <input type="submit" value="CREATE" />
  </form>

 </body>
</html>
